<div class="flex p-4">
	<label class="flex-1 text-gray-400 input-icon">
		<span>
			<i class="fa fa-sm fa-search"></i>
		</span>
		<input type="search" id="productSearchBox" placeholder="{{ i18n.trans('search') }}">
	</label>
</div>
<div class="mb-4 flex-1 overflow-y-auto px-4">
	<div id="productSearchResult" role="list" class="grid grid-cols-5 gap-5">
		{% for product in fsc.getHomeProducts() %}
			<div role="listitem" class="mb-4 cursor-pointer max-w-xs mx-1 mb-2 rounded-lg shadow-lg overflow-hidden bg-white product-add-btn" data-action="setProductAction" data-code="{{ product.code }}" data-description="{{ product.description }}">
				{% if product.image %}
					<img class="w-full m-1 rounded-lg h-40 object-fill" src="{{ product.image }}" alt="{{ product.code }}" data-action="productImageAction" data-id="{{ product.id }}" data-code="{{ product.code }}">
				{% else %}
					<span>
						<i class="fas fa-10x fa-box"></i>
					</span>
				{% endif %}

				<div class="px-4 py-2">
					<h4 class="text-center mb-3 text-l font-semibold tracking-tight uppercase text-gray-800">{{ product.code }}</h4>
				</div>
				<div class="flex items-center justify-between leading-tight p-2 md:p-4">
					<span class="mt-1 inline-block text-left rounded-full bg-blue-100 px-3 font-semibold text-blue-800 text-xs pointer-events-auto" data-action="stockDetailAction" data-code="{{ product.code }}">
						{{ product.stock | default('0') }}
						{{ i18n.trans('available') }}
					</span>
					<span class="text-xl font-bold">
						{{ product.priceWithFormat }}
					</span>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="flex h-auto select-none flex-row bg-white p-4 md:hidden">
	<button class="btn btn-primary btn-block" data-toggle="block" data-target="cartMainView" data-ontoggle="productMainView">
		<span class="mr-auto">Carrito</span>
		<i class="fas fa-shopping-cart fa-fw"></i>
	</button>
</div>
<script id="productListTemplate" type="text/template">
	<% it.items.forEach(function(item){ %>
		<div role="listitem" class="mb-4 cursor-pointer max-w-xs mx-1 mb-2 rounded-lg shadow-lg overflow-hidden bg-white product-add-btn" data-action="setProductAction" data-code="<%= item.code %>" data-description="<%= item.description %>">

			<% if (item.image) { %>
				<img class="w-full m-1 rounded-lg h-40 object-fill" src="<%= item.image %>" alt="<%= item.code %>" data-action="productImageAction" data-id="<%= item.id %>" data-code="<%= item.code %>">
			<% } else { %>
				<span>
					<i class="fas fa-10x fa-box"></i>
				</span>
			<% } %>

			<div class="px-4 py-2">
				<h4 class="text-center mb-3 text-l font-semibold tracking-tight uppercase text-gray-800">
					<%= item.code %></h4>
			</div>
			<div class="flex items-center justify-between leading-tight p-2 md:p-4">
				<span class="mt-1 inline-block text-left rounded-full bg-blue-100 px-3 font-semibold text-blue-800 text-xs pointer-events-auto" data-action="stockDetailAction" data-code="{{ element.code }}">
					<%= item.stock | 0 %>
					{{ i18n.trans('available') }}
				</span>
				<span class="text-xl font-bold">
					<%= item.priceWithFormat %></span>
			</div>
		</div>
	<% }) %>
</script>
